/ {
  keymap {
    compatible = "zmk,keymap";

    layer_1 {
      label = "L1";
      bindings = <
      
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                                    ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp ESC         &kp Q           &kp W           &kp F           &kp P           &kp B                                                                &kp J           &kp L           &kp U           &kp Y           &kp SQT         &kp K_CANCEL
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                                    ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &bkspc_del      &kp A           &kp R           &kp S           &kp T           &kp G                                                                &kp H           &kp N           &kp E           &kp I           &kp O           &kp ENTER
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                                    ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &csl Fn         &mt LCTRL Z     &mt LALT X      &mt LCMD C      &mt MEH D       &kp V                                                                &kp K           &mt MEH M       &mt RCMD COMMA  &mt RALT DOT   &mt RCTRL SLASH  &csl Fn
// ╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┴───────────────╯                                                    ╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┴───────────────╯
                                    &kp TAB         &mt LSHFT SPACE                                                                                                                      &smart_num L2 0 &smart_shift
//                                 ╰───────────────┴───────────────╯                                                                                                                    ╰───────────────┴───────────────╯
//                                                                         ╭───────────────┬───────────────┬───────────────╮    ╭───────────────┬───────────────┬───────────────╮
                                                                            &kp TAB         &mt LSHFT SPACE &smart_num L2 0      &smart_num L2 0 &smart_shift    &kp GRAVE
//                                                                         ╰───────────────┴───────────────┴───────────────╯    ╰───────────────┴───────────────┴───────────────╯
      >;
    };
  };
};
